@use '../../../src/styles/global/boilerplate.scss' as *;

.contact {
  background-color: white;
  padding: 11rem 0;

  @media (max-width: 1020px) {
    padding: 8rem 0;
  }

  & .content {
    display: flex;
    flex-direction: column;
  }

  & .title {
    @media (max-width: 750px) {
      text-align: center;
    }

    p {
      color: $header-color;
      text-transform: uppercase;
      font-weight: 700;
      font-size: $text-size;
      margin-bottom: 1rem;
    }

    h3 {
      color: $black-shade;
      font-size: $headings-size;
    }
  }

  & .icons {
    display: flex;
    gap: 8rem;
    flex-wrap: wrap;
    margin-top: 6rem;

    @media (max-width: 750px) {
      flex-direction: column;
      gap: 5rem;
      justify-content: center;
      text-align: center;
    }
  }

  & .icon-box {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    @media (max-width: 750px) {
      flex-direction: column;
    }

    & span {
      background-color: white;
      width: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
      border-radius: 50%;
      color: $header-color;
    }
  }

  & .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h3 {
      font-size: $text-size;
      color: $black-shade;
    }

    a,
    p {
      font-size: $text-size;
      color: $text-color;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: $header-color;
        transition: all 0.3s;
      }
    }
  }

  & .contact-form {
    text-decoration: none;
    background: white;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    li {
      list-style-type: none;
    }

    & .btn-61,
    .btn-61 *,
    .btn-61 :after,
    .btn-61 :before,
    .btn-61:after,
    .btn-61:before {
      border: 0 solid;
      box-sizing: border-box;
    }

    & .btn-61 {
      -webkit-tap-highlight-color: transparent;
      -webkit-appearance: button;
      background-color: $black-shade;
      background-image: none;
      color: #fff;
      cursor: pointer;
      font-size: 100%;
      line-height: 1.5;
      margin: 0;
      -webkit-mask-image: -webkit-radial-gradient($black-shade, #fff);
      padding: 0;
    }

    & .btn-61:disabled {
      cursor: default;
    }

    & .btn-61:-moz-focusring {
      outline: auto;
    }

    & .btn-61 svg {
      display: block;
      vertical-align: middle;
    }

    & .btn-61 [hidden] {
      display: none;
    }

    & .btn-61 {
      background: none;
      box-sizing: border-box;
      color: $background-color;
      display: block;
      font-weight: 900;
      -webkit-mask-image: none;
      position: relative;
      // text-transform: uppercase;
    }

    & input {
      height: 3rem;
      padding: 1rem;
      outline: none;
      border: none;
      border-left: 0.5rem solid $header-color;
      border-radius: 0.4rem;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      // background-color: $gray-bg-color;
    }

    & input:hover {
      -webkit-animation: rubberBand 0.5s;
      animation: rubberBand 0.5s;
    }

    & span {
      background: $background-color;
      color: $black-shade;
      border-radius: 999px;
      display: grid;
      inset: 0;
      place-items: center;
      pointer-events: none;
      height: 3rem;
      width: 7rem;
    }

    & .btn-61:hover span {
      -webkit-animation: rubberBand 0.5s;
      animation: rubberBand 0.5s;
    }

    @-webkit-keyframes rubberBand {
      0% {
        transform: scaleX(1);
      }
      30% {
        transform: scale3d(1.25, 0.75, 1);
      }
      40% {
        transform: scale3d(0.75, 1.25, 1);
      }
      50% {
        transform: scale3d(1.15, 0.85, 1);
      }
      65% {
        transform: scale3d(0.95, 1.05, 1);
      }
      75% {
        transform: scale3d(1.05, 0.95, 1);
      }
      to {
        transform: scaleX(1);
      }
    }

    @keyframes rubberBand {
      0% {
        transform: scaleX(1);
      }
      30% {
        transform: scale3d(1.25, 0.75, 1);
      }
      40% {
        transform: scale3d(0.75, 1.25, 1);
      }
      50% {
        transform: scale3d(1.15, 0.85, 1);
      }
      65% {
        transform: scale3d(0.95, 1.05, 1);
      }
      75% {
        transform: scale3d(1.05, 0.95, 1);
      }
      to {
        transform: scaleX(1);
      }
    }
  }
}
